Django==4.2.5          # The Django version you're using
celery==5.3.4          # Celery for task queue
redis==4.5.1           # Redis for the broker and backend
django-celery-beat==2.5.0  # Optional, for scheduling periodic tasks
django-celery-results==2.5.1  # Optional, for storing task results in Django
PySocks==1.7.1         # If you're facing SOCKS support issues
schedule==1.1.0        # For job scheduling
requests==2.31.0       # For making HTTP requests
psycopg2-binary==2.9.7  # Add this line
django-celery-beat
